body{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#myLabel{
    font-size: 1.8em;
}
#mySubmit{
    color: white;
    background-color: black;
    cursor: pointer;
    margin-top: 10px;
}